<h1><a href="{{ '/' | absolute_url }}">Accueil</a></h1>

<h2>Gestion du CMS</h2>
<ul>
  <li>Gestion des catégories</li>
  <ul>
    <li>Ajouter une nouvelle catégorie</li>
    <li>Ajouter la nouvelle catégorie aux traductions</li>
    <li>Traduire le nom de la nouvelle catégorie</li>
  </ul>
  <li>Traduction du site</li>
  <ul>
    <li>Traduire les textes</li>
  </ul>
</ul>

<h2>Utilisation du CMS</h2>
<ul>
  <li>Les articles...</li>
  <ul>
    <li>Rédiger un article</li>
    <li>Traduire un article existant</li>
  </ul>
  <li>Les blocs...</li>
  <ul>
    <li>Les blocs d'intégration de document</li>
    <li>Le bloc de liens "Sur le même sujet"</li>
  </ul>
</ul>
